.weather {
    position: relative;
    margin-left: calc(50% - 4rem);
}

.weather img {
    width: 100%;
    max-width: 8rem;
}

.weather .loading-icon {
    width: 30px;
    margin: auto;
}

.weather .degree {
    position: absolute;
    left: 60px;
    top: calc(50% - 1rem);
    margin-top: 15px;
    text-align: center;
    font-weight: bold;
}