@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --main-bg-color: #ffffff; 
  --main-font-color: #444444;
  --main-border-color: #cccccc;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: var(--main-font-color);
  background-color: var(--main-bg-color);
}

.app {
  padding: 0 10px;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.center-text {
  text-align: center;
}